body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 2000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    /* c3盒子模型 */
    box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位 */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    /* 兼容性写法-webkit-transform: translateX(-50%); */
    /* 固定定位的盒子宽度和父亲没有关系是以浏览器为准所以要给宽度 */
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    /* background-color: pink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 12px;
    color: #666;
    margin: 7px 10px;
    padding-left: 25px;
    border-radius: 5px;
    /* 盒子阴影水平、垂直、模糊 */
    box-shadow: 0 2px 4px rgb(0, 0, 0, .2);

}

.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;

}

.user {
    width: 44px;
    height: 44px;
    /* background-color: purple; */
    font-size: 12px;
    text-align: center;

    color: #2eaae0;
}

.user::before {
    content: '';
    /* 行内元素转为块级元素才有大小 */
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    /* 外边距 上 左右 下 */
    margin: 4px auto -2px;
}

.focus {
    padding-top: 44px;
}

/* focus */
.focus img {
    width: 100%;

}

/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 64px;
    /* background-color: red; */
    border-radius: 8px;
    margin: 3px 4px;
}

.local-nav li {
    flex: 1;

}

.local-nav a {
    display: flex;
    /* 把主轴设置为y轴 */
    flex-direction: column;
    /* 将侧轴居中对齐  因为是单行所以用align-items*/
    align-items: center;
    font-size: 12px;
}

/* .local-nav-icon1 {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav-icon2 {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0px -32px;
    background-size: 32px auto;
}

.local-nav-icon3 {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0px -64px;
    background-size: 32px auto;
}

.local-nav-icon4 {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0px -96px;
    background-size: 32px auto;
}

.local-nav-icon5 {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0px -128px;
    background-size: 32px auto;
} */

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}

/* nav */
nav {
    border-radius: 8px;
    /* 上 左右 下 */
    margin: 0 4px 3px;
    overflow: hidden;
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

.nav-common:nth-child(2) {
    /* 上下  左右 */
    margin: 3px 0;
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);

}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

.nav-item {
    /* 不冲突 */
    flex: 1;
    display: flex;
    /* 把主轴设置为列（y轴） */
    flex-direction: column;
}

.nav-item a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-item a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-item:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

/* (-n+2)前两个 */
.nav-item:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

/* 侧导航栏 */
.subnav-entry {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    color: #ccc;
    margin: 0 4px;
    /* 上下5px 左右0 */
    padding: 5px 0;
    box-shadow: 0 2px 4px rgb(0, 0, 0, .2);
}

.subnav-entry li {
    /* 里面的子盒子可以写百分比 % 相对于父级来说每个盒子占父亲的20% */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    /* 主轴设置为y轴 */
    flex-direction: column;
    /* 侧轴垂直居中 */
    align-items: center;
}

/* .subnav-entry-icon-icon1 {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
} */
.subnav-entry li [class^="subnav-entry-icon"] {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
}

.subnav-entry li .subnav-entry-icon-icon2 {
    background-position: 0 -30px;
}

.subnav-entry li .subnav-entry-icon-icon3 {
    background-position: 0 -63px;
}

.subnav-entry li .subnav-entry-icon-icon4 {
    background-position: 0 -99px;
}

.subnav-entry li .subnav-entry-icon-icon5 {
    background-position: 0 -132px;
}

.subnav-entry li .subnav-entry-icon-icon6 {
    background-position: 0 -162px;
}

.subnav-entry li .subnav-entry-icon-icon7 {
    background-position: 0 -195px;
}

.subnav-entry li .subnav-entry-icon-icon8 {
    background-position: 0 -229px;
}

.subnav-entry li .subnav-entry-icon-icon9 {
    background-position: 0 -255px;
}

.subnav-entry li .subnav-entry-icon-icon10 {
    background-position: 0 -287px;
}

.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    text-indent: -999px;
    /* 超出隐藏 */
    overflow: hidden;
}

.sales-hd h2::after {
    /* ::after伪元素选择器属于行内元素，直接设置成了宽高无效，不能被看到 这里给他加上绝对定位，则变成了块级元素，宽高设置有效
    所以不用转换为块级元素 */
    position: absolute;
    top: 10px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -19px;
    background-size: 73px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    /* 内边距 上 右 下 左 */
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    /* 给透明的盒子一个上边框和一个下边框 */
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    /* 然后将他旋转就能做出箭头的效果 */
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.row a img {
    width: 100%;
}

.row a:nth-child(1) {
    border-right: 1px solid #ccc;
}

.user-bottom {
    display: flex;
    margin-top: 5px;
    height: 54px;
    background-color: #bbb;
}

.user-bottom li {
    padding-top: 5px;
    flex: 1;
    /* display: block; */
}

.user-bottom li a {
    text-align: center;
    display: flex;
    /* 把主轴设置为y轴 */
    flex-direction: column;
    /* 将侧轴居中对齐  因为是单行所以用align-items*/
    align-items: center;
    font-size: 12px;
}

.user-bottom-phone {
    display: block;
    background: url(../images/sprite.png) no-repeat -57px -153px;
    background-size: 104px auto;
    width: 23px;
    height: 18px;
}

.user-bottom-user {
    display: block;
    background: url(../images/sprite.png) no-repeat -57px -173px;
    background-size: 104px auto;
    width: 23px;
    height: 18px;
}

.user-bottom-mine {
    display: block;
    background: url(../images/sprite.png) no-repeat -57px -310px;
    background-size: 104px auto;
    width: 23px;
    height: 18px;
}